<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Text_Facebook_a</key>
	<string>I&apos;m using Kinetic Defender app!</string>
	<key>Text_Facebook_b</key>
	<string>I&apos;m using Kinetic Defender app!</string>
	<key>Key_Facebook</key>
	<string>369482999779003</string>
</dict>
</plist>
